* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(154deg, #3E2AD8 29%, #6F3126 60%);
}

button {
    margin-top: 10px;
    font-size: large;
    color: #266F36;
    border-radius: 15px;
    border: 1px solid black;
    background: linear-gradient(180deg, #0F3DC3 0%, #26266F 60%);
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.red {
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
}

.mine-placer-btn {
    width: 200px;
}

.dark-mode {
    background: linear-gradient(173deg, #000 76%, #FFFFFF 100%);
}

.dark-mode-text {
    color: #FFFFFF;
}

.zero-cell {
    background: linear-gradient(180deg, #031001 0%, #266F36 60%);
}

.non-zero-cell {
    background: linear-gradient(177deg, #000 0%, #000 2%, #fff 100%);
}

table {
    margin: auto;
    cursor: pointer;
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 50px;
    border-radius: 10px;
}

td:hover {
    opacity: 0.7;
}

span {
    margin: 10px;
}

.game-container {
    margin: auto;
    margin-top: 20px;
}

.game-Btn-container {
    margin: auto;
    margin-bottom: 20px;
}

.game-data-container {
    margin: auto;
    margin-bottom: 20px;
}

.smiley-button {
    padding: 5px;
    font-size: large;
}

footer {
    background: linear-gradient(320deg, #38D82A 29%, #656F26 72%);
    color: darkblue;
    height: 200px;
    margin: 0;
    margin-top: 30%;
    font-size: large;
    align-items: center;
}

.end-game-modal {
    position: absolute;
    height: 100px;
    width: 200px;
    background: linear-gradient(180deg, #C6D82A 0%, #2F6F26 60%);
    margin-left: 20%;
    border-radius: 25px;
    display: none;
}

.timer {
    padding: 15px;
    margin-right: 30px;
    background: linear-gradient(180deg, #D82A31 29%, #2F6F26 60%);
    border-radius: 15px;
}

.flagged-mine-counter {
    padding: 15px;
    margin-left: 30px;
    background: linear-gradient(180deg, #D82A31 29%, #2F6F26 60%);
    border-radius: 15px;
}

.end-game-modal, span {
    font-size: large;
    padding-top: 10px;
}
.end-game-modal, button {
    margin-top: 25px;
}

.non-clickable {
    pointer-events: none;
}
